@import "tailwindcss";

:root{
  --primary:#21243D;
  --accent:#FF6464;
  --lightBlue:#EDF7FA;
  --badge:#142850;
}

.badge{
  background: var(--badge);
  color:#fff;
  font-weight:700;
  padding:2px 12px;
  border-radius:9999px;
  font-size:14px;
  line-height:28px;
  display:inline-block;
}

.post-card p:last-child{ margin-bottom:0; }
